[2015-12-15 15:20] ericsullivan opened #3 "claims column - Not in use"
The claims column on guardian_tokens is not being populated with any data.

GuardianDb.repo.insert cast(%Token{}, prepared_claims, [], [:jti, :aud, :iss, :sub, :exp, :jwt])

Also, the permission "pem" claim is not stored in the database. I'm creating a UI for token creation and wanted to show the permissions (which I can get from the JWT), but I was wondering if the DB token was supposed to includ

[2015-12-15 17:51] hassox commented on #3
Hmm... I think the claims should be encoded as a map (json). We can then include it in the case.

Thoughts?

[2015-12-18 14:42] ericsullivan commented on #3
Sure, so pull out the fields which are already enumerated and put all of the claims into the claims field. I can work on that

[2015-12-18 18:05] hassox commented on #3
I think it's still worthwhile having those fields that are already split out remain, storing the claims as json would be nice too :)

[2015-12-18 23:37] #3 closed

[2015-12-26 07:17] jcypret opened #5 "Bump Postgrex to version 0.10"
Ecto >= 1.1 (https://hex.pm/packages/ecto/1.1.0) uses Postgrex 0.10 which causes the dependency resolution to fail.

[code]

[2016-01-26 17:13] imetallica opened #7 "Setting postgrex as an optional dependency"
Hello, why `guardian_db` expicitly depends on postgrex? Shouldn't be as an optional dependency, since, for example, I would use Ecto with MySQL or MongoDB?

[2016-01-27 17:54] hassox commented on #7
I think I had it as an optional dependency at one point. I'm down to make it that way. Would you be able to submit a PR?

[2016-02-17 06:26] ionull opened #10 "Revoke all tokens of resource"
Is there any method to remove all tokens of specified resource?

[2016-02-17 06:46] hassox commented on #10
@ionull not in guardian, but if you're using guardian db you can just do a delete on the table where sub = The serialized subject string

[2016-02-17 06:56] ionull commented on #10
@hassox make sense, thanks.

[2016-02-17 07:04] #10 closed

[2016-02-25 18:59] wende opened #11 "Update `guardian_db` to be compatible with `guardian` base"
Right now `guardian` is at 0.10.1 while `guardian_db` works only with `0.9.0`

[2016-02-28 18:21] hassox commented on #11
Thanks. Updated.

[2016-02-28 18:21] #11 closed

[2016-03-11 05:38] jcypret commented on #5
This issue (#5) will be corrected by removing the Postgrex dependency as planned in issue #7.

[2016-03-11 05:38] #5 closed

[2016-03-23 16:10] combsco commented on #11
FYI: https://hex.pm/packages/guardian_db
Is still saying Guardian 0.9 is what has to be installed to use Guardian_DB

[2016-04-12 17:42] wende commented on #11
@hassox  I don't see that updated. 0.4.0 still requires Guardian 0.9 as @combsco says.
Am I doing something wrong?

[2016-04-21 22:10] talklittle opened #16 "Ecto 2.0"
Simply updating the dependency to `{:ecto, "~> 2.0.0-rc"}` seems to compile fine.

Maybe needs a few additional config changes for tests, based on the migration instructions at http://blog.plataformatec.com.br/2016/04/ecto-2-0-0-rc-is-out

[2016-04-21 22:12] doomspork commented on #16
Awesome @talklittle!  Are you going to get started on a pull request? 😀 This would be great to have when Ecto 2.0 ships 👍

[2016-04-21 22:18] talklittle commented on #16
I'll try to get it working. Currently `mix test` is failing with badmatch `{:error, :already_up}`, but that seems to happen on `master` as well. Hopefully Ecto 2.0's test improvements help avoid this kind of error.

[2016-05-01 22:43] chvanikoff opened #18 "Handle expired tokens at guardian_db itself"
Hi,
How about adding some (1:100 for example) probability of running `purge_expired_tokens!` from `create!` function? Probably add config option `autocleanup` which is false by default (for those who want to implement or already have implemented some specific GC algorithms).
That's how a lot of software does GC jobs and would be helpful to have here as well I think.
Something like
[code]

[2016-05-11 05:15] hassox commented on #18
Interesting approach. I was thinking about purging the other day. My initial thoughts were to setup a supervisor that runs on a timer and just periodically cleans it outside of all requests. Thoughts?

[2016-05-15 18:56] chvanikoff commented on #18
@hassox it sounds like a better solution but I think it would be an overhead for such a simple task. It is worth nothing to add these 3 lines and update documentation with this config key description, unlike creating a GC server. You can always add GC worker later but for now this probability-based GC will work just fine for most of users I believe.

[2016-05-19 17:17] #16 closed

[2016-05-27 16:31] hassox commented on #18
I've just added a worker that you can optionally add to your supervision tree @chvanikoff. https://github.com/hassox/guardian_db/pull/20 Love some feedback.

[2016-05-30 04:48] chvanikoff commented on #18
@hassox Generally, it's ok. But here is what I'd change:
1. Move `interval` to config and have some reasonable default value (30m for example)
2. Use minutes rather than milliseconds. I doubt anyone would want to run the cleanup 10 times per second or even more than 1 time per minute.

[2016-05-31 06:21] hassox commented on #18
Good feedback. I've pushed up a v0.7.0 with these features :D

[2016-05-31 06:21] #18 closed

[2016-06-28 20:41] AlexKovalevych opened #23 "Problem with ecto mongodb"
Env:

[code]

I'm trying to create jwt authentication according to documentation, the token gets created and saved into mongodb, but it can't fetch it back. Checking mongodb db logs, i found that query is wrong:

[code]

The problem here is that _id is autogenerated and looks like:

[code]

The _id in the query is actually a `jti` field.
This might me an issue with `mongodb_ecto` or something else

[2016-06-28 20:58] AlexKovalevych commented on #23
Referenced issue in mongodb_ecto https://github.com/michalmuskala/mongodb_ecto/issues/65

[2016-06-28 20:58] #23 closed

[2016-07-23 12:51] jacktang opened #24 "Missing guardian_db conf but the error is misleading"
Hi

I missed `guardian_db` in config/config.exs and run `mix compile`, got below error:

[code]

According to [Keyword:get/3](https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/keyword.ex#L150), the first arg should be `list` type, however [`Application.get_env(:guardian_db, GuardianDb)`](https://github.com/hassox/guardian_db/blob/master/lib/guardian_db.ex#L25) default value is nil.

[2016-07-25 14:14] doomspork commented on #24
@jacktang pull requests are welcome!  Feel free to add in a more approachable error messages when configuration is not present.

[2016-07-29 16:24] dhonig opened #25 "Does not work fully with MongoDB"
Writes are working fine with Mongo.   Reads fail to find the token.  Any interest in adding mongo support?

[2016-09-19 00:54] kevinblade opened #28 "What is this compile error?"
== Compilation error on file lib/guardian_db.ex ==
*\* (FunctionClauseError) no function clause matching in Keyword.get/3
    (elixir) lib/keyword.ex:150: Keyword.get(nil, :schema_name, nil)
    lib/guardian_db.ex:25: (module)
    lib/guardian_db.ex:18: (module)

[2016-09-19 03:59] kevinblade commented on #25
Hi!
I can't wait recover of this problem. So, I changed local deps as follows.
I'll waiting for cleared master release.

@moduledoc """
    A very simple model for storing tokens generated by guardian.
    """

[code]

[2016-09-22 03:29] doomspork commented on #28
@kevinblade if we peek at [guardian_db.ex#L25](https://github.com/hassox/guardian_db/blob/master/lib/guardian_db.ex#L25) it looks like the application configuration is missing.  Can you double check that you've configured things correctly as per the README?

[2016-09-22 03:30] doomspork commented on #25
@dhonig a pull request that adds support is welcomed 😀

[2016-10-12 01:36] kevinblade commented on #25
Since mongodb_ecto doesn't support timestamps in schema definition properly.
So, inserted_at, updated_at fields are not created in mongodb collection.
This issue is resolved with changing "use Ecto.Schema" to "use Ecto.Model"
You can reference this issue in [here](https://github.com/michalmuskala/mongodb_ecto/issues/62).

[2016-10-12 02:27] dhonig commented on #25
@kevinblade Thats really cool to know.  We ended up chucking ecto on our project in favor of custom Mongo repositories.  In our case we were not getting enough from Ecto to stay with it due to different factors.  We wrote our own mongo guardian token store, which we will see if it can be opensourced for those not using ecto....

[2016-10-19 21:42] AlanMcCann opened #29 "GuardianDb.ExpiredSweeper is not available in release"
Mix server works fine for me whether in dev or prod environments.

[code]

However, when I create a release and execute it, I get the following error.  I'm likely missing a config variable - ie. this  is likely not a bug.

[code]

I have attached my app.ex and config.exs below (App name obfuscated)

[code]

[code]

[2016-12-25 07:19] yuchunc opened #33 "Throwing "no case clause matching" when use with GuardianDB"
Hi, I upgraded the to the latest Guardian package, and ran in to this exception:

[code]

after some digging into the code I think it's a miss match between:

GuardianDb's [`after_encode_and_sign`] (https://github.com/hassox/guardian_db/blob/master/lib/guardian_db.ex#L77)

and

Guardian's https://github.com/ueberauth/guardian/blob/master/lib/guardian.ex#L105

If we just tweak the pattern a little

[2016-12-25 07:29] #33 closed

[2016-12-25 07:30] yuchunc commented on #33
I posted this in the wrong place.
This should be in Guardian project, not GuardianDb.

Sorry for the confusing.

[2017-01-13 05:55] hykw opened #38 "When 0.7.1(or more) would be released?"
As the latest version, 0.7.0, depends to ecto 2.0.0-rc, those who use Phoenix cannot update phoenix_ecto from 3.0.1 to some latter versions...

[2017-01-13 10:43] Moxide opened #39 "Should revert #34"
Hello,
See [this guardian issue](https://github.com/ueberauth/guardian/issues/247).

Part of ```guardian_db```'s #34 should be changed back, since the real issue has been fixed in ```guardian``` ;-)

[2017-01-13 15:55] doomspork commented on #39
Thank you @Moxide!  Would you care to submit a PR?

[2017-01-13 15:56] doomspork commented on #38
@hykw I can do that later today, just taking over maintenance of the GuardianDB library.  Need to get hex permissions and things sorted out.

[2017-01-13 16:29] fpalluel commented on #39
Done ;-)

[2017-01-13 23:08] hykw commented on #38
Thank you!

[2017-01-15 15:31] albertchan opened #41 "Error in compiling 0.7.0"
Running the following errors when trying to compile guardian_db 0.7.0:

[code]

My deps list:

[code]

Any help would be much appreciated! Thanks.

[2017-01-15 22:41] doomspork commented on #41
@albertchan do you get the error if you use master?

[2017-01-16 01:56] albertchan commented on #41
Hi, yes it was from master. Anyway, I think it was my mistake, sorry! My config wasn't set up properly before I tried to do a `mix deps.get`. I may submit a PR later to improve the documentation a little because I noticed someone submitted a similar issue after I logged this one.

[2017-01-16 05:38] doomspork commented on #41
Thank you @albertchan 👍

[2017-01-16 05:38] #41 closed

[2017-01-16 05:41] #39 closed

[2017-01-16 05:42] doomspork commented on #29
@AlanMcCann have you resolved this?

[2017-01-16 05:43] #28 closed

[2017-01-16 05:47] #7 closed

[2017-01-16 05:48] #25 closed

[2017-01-16 06:24] doomspork commented on #38
@hykw I would like to merge #42 and #37 then I will release a new version 👍

[2017-01-16 13:46] AlanMcCann commented on #29
I have had a blocking bug in ueberauth that has stopped from getting back to this.

[2017-01-16 18:00] doomspork commented on #29
Thanks for the update @AlanMcCann, do you have an Issue on the Ueberauth repo I can peek at?

[2017-01-17 22:04] AlanMcCann commented on #29
@doomspork Any help is appreciated - https://github.com/ueberauth/ueberauth/issues/43

[2017-01-18 16:08] st23am opened #43 "Guardian DB 0.7.0 fails to compile using Elixir 1.4"
It looks like a new release needs to be tagged because the fixes appear to be in master but, currently when trying to compile guardian_db as a dependency in a project I get compilation error.

[code]

Here is a repo you can use to reproduce the error: https://github.com/st23am/test_guardian_db_compile

[2017-01-18 16:36] st23am commented on #43
Withdrawing this issue as I was missing configuration for adding the Repo that GuardianDb needs to use. My bad.

[2017-01-18 16:36] #43 closed

[2017-01-18 21:30] st23am commented on #29
I'm getting the same error but, I am not using uberauth..

I'm currently not running the sweeper and still getting this error. I'll try and reproduce in a clean repo and link it.

The error I'm getting:

[code]

[2017-01-19 02:31] st23am commented on #29
I was able to solve this by adding `guardian_db` and `distillery` to my applications list. I could have sworn I had tried this previously but I guess not.

I created a example repo with steps to reproduce and the solution. I hope this helps @AlanMcCann *Example Reposistory: https://github.com/st23am/test_guardian_db_issue_29

[2017-01-19 07:46] imranismail commented on #38
yey finally, need to update some of the guide on api sign in as I just tried and there are regression errors

[2017-01-19 16:14] krapans commented on #38
When this will be released?

[2017-01-19 16:22] doomspork commented on #38
@artukrap you can use master until we cut a release:

[code]

[2017-01-19 16:23] #38 closed

[2017-01-19 17:45] doomspork commented on #29
Ah ha @st23am!  Good catch.  @AlanMcCann can you try adding `guardian_db` to your applications list and see if that resolves the issue for you?

[2017-01-20 08:46] suhrawardi commented on #38
Thx! Works like a charm...! 😃

[2017-01-21 18:04] ybur-yug commented on #29
@doomspork Do you think the docs/README could be clarified for this? Would be happy to throw up a PR.

[2017-01-21 18:06] doomspork commented on #29
That would be a good idea @ybur-yug 👍

[2017-01-23 03:57] #24 closed

[2017-01-23 03:57] doomspork commented on #29
This should be resolved as of #44

[2017-01-23 03:57] #29 closed

[2017-01-23 04:11] doomspork commented on #38
@hykw / @suhrawardi / @imranismail / @artukrap — 0.8.0 release has been cut

[2017-02-14 01:25] st23am commented on #38
@doomspork any word when hex can be updated?

[2017-03-29 12:31] speeddragon opened #49 "Missing dependency in README.md"
I was trying to create a API with guardian and guardian_db for authentication, and I was getting this error:

`** (Mix) Could not start application guardian_db: could not find application file: guardian_db.app`

After some minutes I notice that the dependency "guardian_db" wasn't on my `mix.exs` file. I've checked the README.me both on guardian and guardian_db and both doesn't state that I need to

[2017-03-29 14:58] doomspork commented on #49
@speeddragon if you'd like to open a PR that amends the README to mention the dependency that would be fine 👍

[2017-03-29 16:26] speeddragon commented on #49
Just notice that the PR from @egeersoz have that change, https://github.com/ueberauth/guardian_db/pull/48

[2017-03-30 09:28] #49 closed

[2017-05-04 00:30] darrenklein opened #50 "no case clause matching error when calling api_sign_in"
In my Phoenix app, I am using Guardian and GuardianDb for user authorization.  Initially, I was only using Guardian and everything with the auth process was working just fine.  However, after adding GuardianDb to the mix (for token storage), token records are being created correctly, but I'm getting a `no case clause matching` error that's throwing a wrench into the works and I cannot seem to figu

[2017-05-04 01:36] #50 closed

[2017-07-17 22:38] davejlong opened #55 "schema_name config option ignored"
In my `config/config.exs`:

[code]

And my migration:

[code]

But when I try to login, I get the following error:

[code]

It seems that the `schema_name` config option is being ignored.

---

Elixir Version: 1.4.5
Erlang Version: 20
Dependency Versions:

[code]

[2017-07-17 22:41] davejlong commented on #55
It seems that the error was because I had changed the `schema_name` value without recompiling the dependencies. I'll submit a PR to add a note about this to the documentation.

[2017-09-08 19:04] cdesch opened #57 "Compatibility with Guardian 1.0.0"
Does anyone know if `guardian 1.0.0-beta` has any breaking changes that would require updating `guardian_db` to be compatible?

I was going to fork the project and see if I could get the current release to work with the latest guardian. I didn't know if there were any off the bat pitfalls.

[code]

[2017-09-08 19:06] hassox commented on #57
There is a small change that makes it incompatible. There is a PR that addresses this that you can use in the short term while we shepherd it through the release process.

The branch is: `update-docs-for-guardian-1.0`

[2017-09-08 19:16] cdesch commented on #57
I see. trying to pull it now -- running into an error, but it might be just me:

config:

[code]
error:
[code]

[2017-09-08 19:18] hassox commented on #57
Eep. Thanks for finding that issue. I will add a fix for that into the branch. In the meantime you can set override: true on the guardian dep to get you started. I will address this as quickly as I can.

Thank you for raising!

[2017-09-08 19:19] cdesch commented on #57
It looks like `guardian_db` is looking for `{:guardian, ">= 1.0"},` instead of `{:guardian, "~> 1.0.0-beta.0"},`

I'm making a pull request to the branch

[2017-09-11 14:45] blisscs opened #60 "** (Mix) Invalid requirement >= 0.11.1 or >= 0.13 for app postgrex"
Hello I am getting error when doing mix compile on the branch update-docs-for-guardian-1.0.
I checked the current version of postgrex is 0.13 to resolve the issue I set it to only >= 0.13. Please see the pull request. below
https://github.com/ueberauth/guardian_db/pull/59

--
Dev.

[2017-09-12 05:18] #60 closed

[2017-09-12 17:37] yordis commented on #55
@davejlong the correct solution for this is to change https://github.com/ueberauth/guardian_db/blob/496384d0d42296bc69bdac1dac5dc17af830483d/lib/guardian_db.ex#L128

Talking to Michal about it, use module attributes for reading this configurations is a bad practice because of the situation you ran into, which is pretty common to run into

[2017-09-13 03:03] yordis commented on #55
hhhhmmm I think I can't switch it to some function call 😢 so it will be better to actually add some documentation I think

[2017-09-13 07:28] michalmuskala commented on #55
Ecto supports using `{"table_name", Schema}` as the source of a query. This can be leveraged by changing, for example:
https://github.com/ueberauth/guardian_db/blob/496384d0d42296bc69bdac1dac5dc17af830483d/lib/guardian_db.ex#L149
to
[code]

It's also supported when creating structs like here:
https://github.com/ueberauth/guardian_db/blob/496384d0d42296bc69bdac1dac5dc17af830483d/lib/guardian_db.ex#

[2017-09-13 07:31] yordis commented on #55
@michalmuskala what is that `token_source` the `schema_name` in this case? What about the `schema "name over here"` situation?

Could you point me to the doc spot so I can read about it please

[2017-09-13 09:44] michalmuskala commented on #55
`token_source` would be a function to load the table name, for example:

[code]

This isn't documented anywhere in one place, unfortunately. Some bits are in the `Ecto.Schema` docs, some in `Ecto.Query` and some in `Ecto`. This would use the same technique as the one described in the [polymorphic belongs_to docs](https://hexdocs.pm/ecto/Ecto.Schema.html#belongs_to/3-polymorphic-associations).

[2017-09-14 21:08] yordis commented on #55
@michalmuskala I notice this https://github.com/elixir-ecto/ecto/blob/v2.2.3/lib/ecto/schema.ex#L378 if I use `embedded_schema` I dont need any random name on the `schema` name because I will be using what you recommend.

What are your thoughts about it?

[2017-09-15 09:38] michalmuskala commented on #55
`embedded_schema` generates a slightly different struct from `schema` - in particular, it doesn't track the lifetime of the struct (since it doesn't matter for embedded associations). The difference is the `__meta__` key.

[2017-09-16 01:58] yordis commented on #55
@michalmuskala wouldn't be worth to add the differences in Ecto documentation?

Situation like this one people dont have to ask you what the differences are and it's important to know for apply the correct use of it.

For example right now, I don't know what you meant by `lifetime` of the struct and other situations.

What do you think?

[2017-09-19 06:54] michalmuskala commented on #55
I opened a PR to ecto with improvements to the docs around the `__meta__` field: https://github.com/elixir-ecto/ecto/pull/2228

[2017-09-19 06:55] yordis commented on #55
@michalmuskala you are the boss!

[2017-09-21 13:34] artukrap opened #67 "Error token_storage_failure"
Went through installation guide, however, I got this error in the end when trying to do login.
![image](https://user-images.githubusercontent.com/11750685/30698445-a985587e-9eea-11e7-8746-38ed8709e09f.png)

[2017-10-15 10:43] #67 closed

[2017-10-18 19:22] Moussenger opened #69 "GuardianDB 1.0.0 version does not exist in Hex"
Readme.md instructions say that version you must to set into dependecies is:

`{:guardian_db, "~> 1.0.0"}`

But in Hex does no exist that version (https://hex.pm/packages/guardian_db) and there is an error if you try running `mix deps.get`

[2017-10-24 01:08] rhnonose opened #71 "Alternative token schema"
Is there a way to declare and use an alternative `Token` schema?

My usecase requires multiple JWT tokens for a user, which requires some changes in the schema (mainly the primary keys).

A suggestion would be for it to be configurable, example:
[code]

[2017-10-25 17:34] doomspork commented on #71
@rhnonose this isn't something that currently exists but I would be open to exploring this set of functionality.  @ueberauth/core what to do you think about the proposed change?

[2017-10-25 17:35] doomspork commented on #69
Thank you for letting me know @Moussenger!  I will work on getting a release cut 👍

[2017-11-19 17:38] doomspork commented on #57
Working on getting 1.0 released today w/ support for Guardian 1.0 @cdesch 👍

[2017-11-19 17:48] #57 closed

[2017-11-19 17:49] #55 closed

[2017-11-19 17:49] doomspork commented on #69
Sorry for the delays @Moussenger, we're working on getting in a few final features before officially cutting v1.0.  Once #73, #70, and #63 are merged this week we'll release.

Thanks for your patience 😁

[2017-11-23 16:55] nikolay-slavov commented on #69
Hi there,
I'm experiencing a similar problem after adding `{:guardian_db, "~> 1.0.0"} `in my mix.exs file and then run `mix deps.get`.

I guess this issue will be fixed when version 1.0.0 is officially released?

[2017-11-23 17:14] yordis commented on #69
@nikolay-slavov getting there! No yet!

[2017-11-28 20:29] cdesch commented on #57
thanks @doomspork

[2017-12-04 14:08] 51stpage commented on #69
Looks published to me :smile:
https://hex.pm/packages/guardian_db/1.0.0

[2017-12-04 20:33] #69 closed

[2017-12-06 19:34] acrolink opened #75 "Do you have any benchmark results as to what impact database verification has on performance?"
As measured by requests / second etc.. or response times as measured by milliseconds?

[2017-12-06 19:37] yordis commented on #75
@acrolink I think this have more to do with how fast the database is than the package itself. That is potentially the bottleneck pretty much.

If performance is what matters for you then go with JWT without any database at all, one of the reason why they invented so you have the information that you need on the token and no needs to load anything from databases.

[2017-12-06 21:00] doomspork commented on #75
Howdy @acrolink!  As @yordis mentioned, you don't _have_ to use GuardianDB though it is encouraged for security reasons.  At this time we don't have any benchmarking data but if you'd like to take a look into it, we'd be happy to put up the results 👍

[2017-12-09 09:49] acrolink opened #76 "How to use external (second and seperate) PostgreSQL database for storing and verifying guardian_db tokens?"

[2017-12-09 13:24] acrolink commented on #76
Solved by defining an additional Ecto.Repo.

[2017-12-09 13:24] #76 closed

[2017-12-09 14:48] acrolink opened #77 "Sweeper not working"
I still see the expired tokens in the database after they had expired, I expect them to be erased automatically after expiration. Any idea what to look for and check? Thank you.

[2017-12-09 16:01] yordis commented on #77
@acrolink do you have any code example and or dataset I could use for replicate your issue?

Or you put the interval in a small fraction of time and put `IO.inspect` here https://github.com/ueberauth/guardian_db/blob/e338bdbe6e96dca028bee8e83bf78962ac1b41f1/lib/guardian/db/token/sweeper.ex#L12 on your `deps/guardian_db` so you can check it is being call

[2017-12-09 17:01] acrolink commented on #77
I have reduced ttl and sweep interval to one minute, it is working. I will try to increase the ttl and sweep interval to see if it continues to work. I will report back.

[2017-12-09 17:55] #75 closed

[2017-12-09 17:55] doomspork commented on #71
@ueberauth/developers any thoughts on this proposal?

[2017-12-09 18:00] yordis commented on #71
@doomspork it shouldn't be that complicate as long as there is a defined protocol but why would the primary keys change? I am guessing you want to add `user_id` to the table?

One solution is add an extra layer on the database relationship instead of touching this table direction, no?

Users  [1 ----- *] Tokens [1 ----- *] Guardian Tokens

Anyway the foreign key will pass to Tokens table. So you c

[2017-12-09 18:02] rhnonose commented on #71
@yordis that's similar to my workaround, but looks clumsy to me. Not sure if other people have similar problems, that's why I opened here.

[2017-12-09 18:06] yordis commented on #71
@rhnonose well normalization of database could be a debate here. That wouldn't be a workaround for me at all because you are normalizing your table schemas.

In my opinion (because normalization is an art) Guardian Tokens should be agnostic or your environment and right now it is holding a really normalized data.

Adding configuration is fine but for this situation is just complicating the package

[2017-12-09 18:08] yordis commented on #71
Unless you want to talk about doing join tables and performance at that level, which I don't see the point either. At that moment your whole architecture will change and you shouldn't be using guardian db 😄

[2017-12-11 17:18] yordis commented on #77
@acrolink any updates on this one?

[2017-12-11 17:40] acrolink commented on #77
Seems it is working.. I will watch for the expected behavior in regard to currently issued tokens in the next 4-5 hours and update.. Just to be sure..

[2017-12-11 18:20] #77 closed

[2017-12-12 09:00] acrolink commented on #77
It is working as expected.

[2017-12-16 00:35] hassox commented on #71
Not sure I understand the problem. The primary key of the tokens table is jti + aud . Both standard fields from jet and nothing to do with the user. The jti should be globally unique so I'm not sure I understand the reason to require different primary keys here

[2017-12-16 02:10] yordis commented on #71
@hassox probably because he has more than one token per user he wants to save the `user_id` or some soft of key that identify the owner of the token, which in that case he will need to add some column.

[2017-12-16 02:10] hassox commented on #71
Perhaps we should update it to also save the token module that looks after it?

[2017-12-16 02:12] yordis commented on #71
@hassox what do you mean by that?

[2017-12-16 03:03] hassox commented on #71
When we save the data, we could also save the token module name that generated it so we can see what's going on. You can use the token to get the resource from the token. Tbh I don't have too much of a preference. We can work to be able to swap out the token as part of the work that is going on to make adapater based handlers perhaps

[2017-12-31 19:18] webofbits opened #80 "Warning when generating guardian db migration"
Hello guys,
Not sure if here's the right place to post this kind of stuff but let me know if not.
I followed the steps described on `README` but after run `mix guardian.db.gen.migration` I got this error:
[code]
Could someone, please, give me a help?

The error message is pretty simple to understand what's going on but I'd like to know if there's something I can do on my end or it is already being

[2017-12-31 19:20] yordis commented on #80
@ueberauth/core  this is the 3rd issue related to this. It is fixed on `master`. Could you release this as soon as you can so we do not keep getting this issue please.

[2017-12-31 19:22] ccarvalho-eng commented on #80
I think for now I can create the migration manually. Thanks

[2017-12-31 19:23] yordis commented on #80
@webofbits sounds good, this is fixed on `master` but we need to release it.

[2017-12-31 23:21] doomspork commented on #80
@yordis a guardian_db release?

[2017-12-31 23:28] yordis commented on #80
@doomspork yes

[2018-01-01 19:50] doomspork commented on #80
@yordis @webofbits `1.1.0` has been released 👍

[2018-01-01 19:50] #80 closed

[2018-01-21 13:04] mrbegood opened #82 "(undefined_table): relation "virtual: token" does not exist"
Hi, seems there is an error with ecto schema definition

https://github.com/ueberauth/guardian_db/blob/5e1a3df4c28f56ed71465583edf81b912bd6ac85/lib/guardian/db/token.ex#L15

guardian_db ~> 1.1

[code]

[code]

[2018-01-21 18:45] doomspork commented on #82
@mrbegood what version of Ecto are you using?

[2018-01-22 01:21] yordis commented on #82
@doomspork this is not an issue.

He is using `MyApp.Repo.all(Guardian.DB.Token)` directly which he is not aware of the table being an virtual table.

This is the reason why this exists https://github.com/ueberauth/guardian_db/blob/5e1a3df4c28f56ed71465583edf81b912bd6ac85/lib/guardian/db/token.ex#L64

And you would use it this way https://github.com/ueberauth/guardian_db/blob/5e1a3df4c28f56ed71465

[2018-01-22 01:24] yordis commented on #82
More details about Ecto usage, https://github.com/ueberauth/guardian_db/issues/55#issuecomment-329082925

[2018-01-22 12:06] mrbegood commented on #82
@yordis thanks for your answer
this solution `Guardian.DB.repo().all(Guardian.DB.Token.query_schema())` works as I need!!!

[2018-01-22 12:06] #82 closed

[2018-01-22 18:32] speeddragon opened #83 "Refresh / Logout not working"
I've been using past verions of Guardian \ Guardian DB and has been working fine. I've decided to update all packages, and I've update all sucessfully except this one.

I've check multiple times Guardian and Guardian Db documentation and can't find the solution for my problem.

I've 2 tests in my project, one to test refresh token and another to test logout.
For refresh token I use the following c

[2018-01-22 19:24] yordis commented on #83
@speeddragon just for double check, is your token `refresh_token` type

Look at this https://github.com/ueberauth/guardian_db/blob/5e1a3df4c28f56ed71465583edf81b912bd6ac85/lib/guardian/db.ex#L123

When you do
[code]

make sure that `claims["typ"]` is setup correctly or the checking will fail.

[2018-01-22 21:11] speeddragon commented on #83
@yordis, that case always return `:ok`. The `claims["typ"]` is `access`.

Shouldn't we have something similar for `on_refresh` like `after_encode_and_sign`, `on_verify` and `on_revoke` ?

Like:

[code]

[2018-01-22 21:43] yordis commented on #83
@speeddragon if you have `access` type then you need to add it to the whitelist if I am not mistaking `token_types: ["refresh_token", "access"]` or just remove it all so you save all the tokens.

I think, no sure, the answer is no because when you refresh you suppose to use `exchange`, so maybe on `on_exchange` would make more sense here I think.

But, this is tricky around JWT tokens at least.

@

[2018-01-22 22:43] speeddragon commented on #83
@yordis, just removed is what I've talked about in my first post, refresh token is invalid and doesn't doesn't work.

In terms of pure JWT (without Database), refresh token should just only exchange tokens, because there isn't any method to invalidate the old token. Using Guardian DB you can leverage this to invalidate the old token and just use the refreshed (extended) token.

I know that in the

[2018-01-22 22:48] yordis commented on #83
@speeddragon yeah, I think we should add `on_exchange` callback for Guardian.DB so it doesn't the swap or remove the old one and create the new one, I need confirmation on that.

[2018-01-23 14:02] speeddragon commented on #83
So, after get inside the code I have come up with a solution to mimic the old behaviour.

[code]

Don't know if it makes sense to create a PR with this.

[2018-01-31 19:33] yordis commented on #83
@ueberauth/core  what do you think? This seems to be what we should be doing to be honest.

[2018-01-31 19:48] doomspork commented on #83
@speeddragon / @yordis I think a PR would be a good place to start the conversation around implementation 👍

[2018-02-01 11:06] speeddragon commented on #83
I'm in vacation until Friday, on Monday I can submit a PR.

[2018-02-06 11:47] speeddragon commented on #83
@doomspork , can you take a look into PR #84 ?

[2018-02-07 17:29] #83 closed

[2018-02-07 17:29] doomspork commented on #83
Merged @speeddragon 👍

[2018-03-02 15:51] albertchan opened #87 "Tokens not being tracked in database"
I've installed guardian_db 1.1.0 with guardian 1.0.1 in my Phoenix application. I have followed the README by adding the configs, adding the lifecycle methods to my token module, and running the migration as instructed. However, when I try signing in an user with `Guardian.encode_and_sign`, the login is successful but I don't see a token entry added to the `guardian_tokens` table. Am I missing som

[2018-04-04 07:57] bcat-eu opened #88 "Tokens are not revoked"
My `on_revoke` callback just rests there and is never called when user is signed out (Guardian's `sign_out` is called). I ended up switching to before_sign_out callback to get the logouts working:

[code]

This might be a Guardian issue since they state that sign_out will "remove from session (if fetched) and revoke the token", but in any case the current setup as described in readme doesn't seem

[2018-05-02 15:57] svileng commented on #87
Looks like the version of Guardian.DB that contains `on_refresh/2` is not released — what we see in the docs and source code is not actually published on Hex but has been committed ~3 months ago.

@doomspork @hassox @samhamilton When are you planning to publish those changes to Hex, anything stopping this from being released?

[2018-05-02 16:58] doomspork commented on #87
@albertchan I'm currently using the versions released on Hex.  I just checked production and I can see tokens inserted and sweep from my DB.

We're going to need more info from you to troubleshoot why you're not seeing things inserted.  Did you migrate your tables?

@svileng we've been working on other changes but can probably cut another reason.  For future reference, you don't _really_ need to r

[2018-06-06 02:50] yordis commented on #87
@albertchan as @doomspork described, he is not having any issues. Fee free to open the issue with the information requested if your issues persists.

[2018-06-06 02:50] #87 closed

[2018-06-06 02:57] yordis commented on #88
@bcat-eu could you try to use `master` and see if the issue persists? `on_refresh` does exists if you take a look to the code.

[2018-06-22 09:14] bcat-eu commented on #88
@yordis I've checked the `on_revoke` with master and it does work there :+1:

Is there a reason not to release right away? Current behavior is confusing since if all is done as stated in the readme then each login generates a token and logout doesn't delete it which is only noticeable via explicit tests.

Anyway since the issue is resolved in master the ticket can be closed now, thanks!

[2018-06-22 09:14] #88 closed

[2018-10-09 05:39] tanweerdev opened #91 "function Guardian.DB.on_refresh/2 is undefined or private"
Steps to reproduce:
Add hex dependency of `guardian_db` plus configurations and when project will be compiled, you will get this error.
Please release a new version. This will be fixed as we already have this fixed in current codebase

[2018-10-25 19:37] nathany opened #93 "guardian_db fails to compile with Ecto 3 rc (undefined function migrations_path/1)"
See https://github.com/elixir-ecto/ecto/issues/2763

[code]

I'm in the midst of updating a Phoenix app to use Ecto 3 (and ecto_sql), but ran into this compile failure when updating guardian_db from 0.8 to 1.1.

https://github.com/ueberauth/guardian_db/blob/master/lib/mix/tasks/guardian_db.gen.migration.ex#L21

[2018-10-25 19:49] nathany commented on #93
Guess I'll do a PR to use `Ecto.Migrator.migration_path`.

[2018-10-25 19:50] hassox commented on #93
That would be cool! thanks

[2018-10-25 20:00] nathany commented on #93
No worky in Ecto 2.2

[code]

I'm also not sure the best way to test this. Back in the Rails days we had multiple Gemfiles so CI could test ecto_sql 3 and ecto 2.2.

[2018-10-25 20:02] nathany commented on #93
@hassox I'm not sure how to proceed. Not an Elixir guru. Apologies.

[2018-10-25 20:03] nathany commented on #93
https://github.com/elixir-ecto/ecto/issues/2763#issuecomment-433186337 Any ideas how to get this working?

[2018-10-25 20:08] nathany commented on #93
Same fix in another library. Guess I can attempt a PR based on this.
https://github.com/kipcole9/money/commit/c2766dece7f241f25b86999876d756d7b7d7a4be

Still not sure how to best test this.

[2018-10-25 20:13] hassox commented on #93
Not sure of the _best_ path but a path forward could be:

[code]

If this were in runtime code I'd look for a compile time solution but since this is a mix script I think it should be ok.

[2018-10-25 21:32] nathany commented on #93
Btw, I've sometimes been seeing a strange error when running the guardian_db tests. Any ideas?

[code]

[2018-10-26 18:42] nathany commented on #93
@doomspork I apologize for my poor online communication skills and the misunderstanding that resulted on #94.

I spent an afternoon working on that pull request to the best of my ability (I am new to Elixir, but had a lot of help from many people). It even incorporated the TravisCI changes requested in #90 by comparing to [your other travis file](https://github.com/ueberauth/guardian/blob/master/.

[2018-10-26 20:27] yordis commented on #93
Blocked until `Ecto 3.0` is released.

[2018-10-29 14:37] nathany commented on #93
Last week I made the mistake of working on a pull request before asking enough questions to fully understand what the maintainers of this project wanted. Instead I made assumptions based on how I've seen multiple versions of a library supported in the Ruby on Rails ecosystem, and was excited to learn that it was possible to have multiple lockfiles in Elixir too.

Based on the comment from @yordis,

[2018-10-29 15:13] idyll commented on #93
Ecto 3.0 dropped about 5 hours ago:

https://github.com/elixir-ecto/ecto/releases/tag/v3.0.0

[2018-10-29 16:36] yordis commented on #93
@nathany yes that is correct.

As we are a small team and maintaining backward compatibility on because Ecto itself means that all the issue related to it will become part of the source code and our responsibility to maintain.

This is a rabbit hole that nobody likes, and to be honest it only contributes to the **culture** of users to expect core contributors to keep their application working beca

[2018-10-29 16:41] yordis commented on #93
You live you learn, that is the past, focus on the future.

@nathany if you want to work on this and update your branch, just fix the breaking changes that Ecto introduced related to `migrations_path/1`

[2018-10-30 22:19] nathany commented on #93
@yordis Would you use the `function_exported?` check? https://github.com/ueberauth/guardian_db/issues/93#issuecomment-433189687

[2018-10-30 23:50] yordis commented on #93
@nathany use `Ecto.Migrator.migrations_path/1` https://github.com/elixir-ecto/ecto_sql/blob/8f4104fec119d6bd2a3080660ddea099bce5ffeb/lib/ecto/migrator.ex#L32

Since this is the actual function on `Ecto >3`, we will need to add `ecto_sql` as a dependency since we need it as well.

Don't check for `Mix.Ecto.migrations_path/1` since that was related to `Ecto <3`

[2018-10-31 10:09] ZXYCir opened #97 "how to use in two or more servers with login just one time? share pwd"
I set the same config in two servers ,but I didn't get the result of expected. I need help~

[2018-10-31 17:10] yordis commented on #97
Use StackOverflow or Slack channel for requesting support like this one.

[2018-10-31 17:10] #97 closed

[2018-11-01 01:47] ZXYCir commented on #97
thanks, I use guardian_db so wrote this question, and I will ask the same  question at StackOverflow  too~

[2018-11-01 15:27] nathany commented on #93
ecto_sql 3.0.0 final is out today. I've amended @tanweerdev's commit to use it and opened PR #99.

I don't know exactly how your release process works. Will this be guardian_db `@version "2.0.0"`?

Thank you.

[2018-11-01 23:15] yordis commented on #93
@nathany when it comes to changing the versioning we do that, but yes, we will use `v2` since it has a breaking change.

[2018-11-01 23:18] #93 closed

[2018-11-03 02:41] egeersoz commented on #91
Any updates on this issue?

[2018-11-03 03:28] yordis commented on #91
@egeersoz it will get release the next week.

[2018-11-03 03:37] doomspork commented on #91
If you need to use this before a new release is cut you can always point to master in mix:

[code]

[2018-11-19 16:52] nathany commented on #93
Thanks @yordis. We're using `{:guardian_db, "~> 2.0.0", github: "ueberauth/guardian_db"},` until such time as 2.0 is released.

[2018-12-04 10:58] floodico opened #100 "separated token schemes"
Hey!
I want to have several different types of tokens in different schemes and manage them at the context level. But if I understand correctly, guardian provides [api](https://github.com/ueberauth/guardian_db/blob/master/lib/guardian/db.ex), where we can't pass another token model(some module that inherited from default Token model). Right?
It looks very not flexible

[2018-12-04 18:57] hassox commented on #100
I'm not quite sure I know what you mean here. Can you maybe give an example of what you're trying to do?

[2018-12-05 09:14] floodico commented on #100
hi @hassox! i mean i need to create for example *user_tokens* scheme, *qr_code_tokens* scheme and some *invite_tokens* scheme. But as i see, GuardianDB can work only for the one scheme

[2018-12-25 14:05] hykw commented on #93
any news for the release?

[2018-12-26 00:41] yordis commented on #100
@floodico could you share some use cases that will require this to be implemented?

[2018-12-26 01:49] #91 closed

[2019-03-13 04:40] yordis commented on #71
As I explained in https://github.com/ueberauth/guardian_db/issues/71#issuecomment-350494393

Just do the following database design `Users [1 ----- *] Tokens [1 ----- *] Guardian Tokens`.

Allowing this to be swappable is a rabbit hole for us as maintainers and in terms of the database, this is normalized enough.

[2019-03-13 04:40] #71 closed

[2019-03-13 05:46] yordis commented on #100
Due to inactivity I will close this issue, feel free to open it again if your issue persists. In terms of having multiple schemas, create on your application business rules the join tables.

[2019-03-13 05:46] #100 closed

[2019-03-27 05:05] Mazon opened #101 "hash of tokens"
How is the tokens stored in the db, would make sense to store the sessions as hash only? or have option of storing them as hash. One user case is where using JWT as a api key for server to server communications and using the same auth framework(guardian + guardian db) for user sessions but a token that lives forever.

[2019-03-27 05:29] yordis commented on #101
This is the information save from the token
https://github.com/ueberauth/guardian_db/blob/0b8683117dcf8cb7c017993df7f87972b41746ed/lib/guardian/db/token.ex#L15-L25

You rely on JWT encryption to validate and retrieve the token back  https://github.com/ueberauth/guardian_db/blob/0b8683117dcf8cb7c017993df7f87972b41746ed/lib/guardian/db.ex#L137

You save the JWT token as API key, Guardian.DB will kee

[2019-03-27 05:29] #101 closed

[2019-03-27 05:34] Mazon commented on #101
Thank you, that was a awesome answer.

[2019-04-11 22:06] rraub opened #102 "Revoking Token thats already been removed throws error rather than returning error"
We've run into a condition where a request to refresh a token was replayed which resulted in duplicate requests processed at the same time. The first one succeeded and the second one failed with an `Ecto.StaleEntryError` when trying to revoke and delete the token.  Instead of doing a [delete on the Model](https://github.com/ueberauth/guardian_db/blob/f5fec0496679eb672e479471c404bf79ddd57761/lib/gu

[2019-04-11 22:08] yordis commented on #102
@rraub would you mind to open a PR with the desired behavior?

[2019-04-24 06:50] Immortalin opened #104 "Dependency Update"
[code]

[2019-04-24 13:57] #104 closed

[2019-05-01 21:05] #102 closed

[2019-05-10 21:46] brianbowden opened #107 "Changelog updates since 0.8"
Would it be possible to update the CHANGELOG for updates since 0.8?

Thanks!

[2019-05-10 22:37] yordis commented on #107
Some of the changes are in the actually release 😭

Thank you for the feedback

[2019-05-10 22:39] brianbowden commented on #107
😭 Oh okay, thanks! 😂

[2019-06-02 19:04] egeersoz opened #109 "How to add more columns to 'guardian_tokens' table?"
Currently, the following migration is generated during setup:

[code]

I have a multi-tenant SaaS app, and each tenant gets their own schema in Postgres. So I need to add a new `tenant` column to this table so that I know which tenant each token belongs to.

Is this possible?

[2019-06-03 03:39] yordis commented on #109
@egeersoz create another table where you do the join with this table.

[code]

Let me know if you get the idea

[2019-06-03 16:00] egeersoz commented on #109
Hi @yordis

I actually tried that before opening this issue. Here's the migration:

[code]

Here's the resulting error:

Here's what I ended up doing:

Added `add(:tenant, :text)` to guardian_tokens migration.

Added the following in my context:

[code]

Added the above function call inside `after_encode_and_sign` callback:

[code]

After doing all this, I can delete all of the user's tokens (e.g.

[2019-06-03 16:56] yordis commented on #109
Based on the migration https://github.com/ueberauth/guardian_db/blob/f1328696d6d2505c35379a8e1bc3b0e98f2b2a42/priv/templates/migration.exs.eex#L6-L7 it seems that the key is a combination.

I don't believe that adding more complexity to the package based on specific business use case like your is not good. The table is normalized enough to allow people to extend the database relationship. The inte

[2019-06-03 17:52] egeersoz commented on #109
I don't think the way I did it is "good", because now each time a token is issued, I perform two queries, once to insert the token, and then go back and update its `tenant` column in 'guardian_tokens'. There needs to be a way to do this using a single query, i.e. when GuardianDB performs the initial insert.

Regarding your broader point, in my opinion you should consider making this library _flexi

[2019-06-03 18:14] yordis commented on #109
PR welcome, that would help to keep the discussion based on the implementation.

The main issue is that you are crossing boundaries just because you can reach for the database table, that is the whole problem of having shared database for services, the first thing people do is to reach out for the database to bypass the services.

Sorry, just because you can don't mean you should.

I totally under

[2019-06-03 18:20] #109 closed

[2019-08-05 03:51] yordis commented on #107
Feel free to open a PR adding the changelog updates, I am not sure what is the value-added at this point.

[2019-08-05 03:51] #107 closed

[2019-08-09 04:57] IvanShpotenko opened #110 "Compatibility with Guardian 2.0"
It seems like Guardian goes 2.0. Does anyone know if guardian 2.0 has any breaking changes that would require updating guardian_db to be compatible?

[code]

[2019-08-09 08:34] yordis commented on #110
@IvanShpotenko yeah totally, let me release a new version, the breaking change was due to removing Phoenix specific code.

Feel free to use `v2` without any worry about `guardian_db`

[2019-08-09 08:34] #110 closed

[2019-08-09 08:48] yordis commented on #110
@IvanShpotenko new version released, it should work now.

[2019-08-19 13:17] x-ji commented on #67
In case anybody runs into the same error in the future, in my case it is caused by a DB schema mismatch. If you use the default DB incremental ID as the `sub`, its type would be `:integer`, but the automatically generated migration has type `:string` by default, so you'd need to change the migration.

I think in this case the error message is really unhelpful. I had to look into the library and tr

[2019-08-19 13:31] x-ji commented on #67
In fact even changing the migration doesn't help, since `GuardianDB` has hard-coded the `sub` to be of `string` type in its `Token` model. Maybe this is the standard for `sub` for all JWTs, but still, I find the error message very unhelpful.

[2019-11-08 22:16] Hanspagh opened #111 "Idea: Use gen server to avoid round-trip to database"
Description to come, was just so I wouldn't forget the idea

[2019-11-08 22:17] yordis commented on #111
@Hanspagh could you add some description to it? Otherwise in the PR would be good as well.

[2020-01-05 21:47] mazz opened #114 "Update ecto_sql(currently at 3.1.0) dependency to the latest version"
Many packages now require > 3.1.0 which results in dependency conflicts.

[2020-01-06 15:19] doomspork commented on #114
@mazz this has been accomplished via #113 and released this morning as 2.0.3 :+1:

[2020-01-06 15:19] #114 closed

[2020-01-09 13:20] doomspork commented on #111
@Hanspagh are you thinking we leverage a GenServer as a sort of cache to avoid having to go to the DB for every check?

[2020-01-10 08:55] Hanspagh commented on #111
@doomspork Yes exactly. My idea was to have a gen server in front of the DB as a cache layer, and then only save to the database once in a while. This would enable the users to still be able to invalidate tokens without the cost of doing a db lookup every time

[2020-01-10 14:08] doomspork commented on #111
Awesome! I am going to be leveraging GuardianDB in a project at work and will keep an eye on the number of queries and how to reduce them (something I've been trying to been doing with our legacy systems already).

[2020-11-08 16:04] dolfinus opened #117 "Do not fix ecto version"
Hello.

I've tried to update dependencies of my project, but got this error:
[code]

Can you please replace `~> 3.0` with `>= 3.0` for ecto and ecto_sql dependencies?
Current deps specification is too strict.

[2020-11-08 16:59] Hanspagh commented on #117
Hi @dolfinus

In elixir, ~> 3.0 translates to >= 3.0.0 and < 4.0.0, so I am not quite sure what is happening here
https://hexdocs.pm/elixir/Version.html

Which packages are you trying to install?

[2020-11-08 19:34] dolfinus commented on #117
Sorry, my fault. The issue was caused by another package which was mentioned only in the end of log, and I've missed it.

[2020-11-08 19:34] #117 closed

[2020-12-30 19:13] slemonide opened #118 "Documentation: need to update migrations if using non-default table name"
Should we add a note about having to modify [generated migrations](https://github.com/ueberauth/guardian_db/blob/8ceb1587de63b502afda1b1bcf9673b57a0ce770/priv/templates/migration.exs.eex) when using non-default `schema_name`? Can migration infer schema name from config?

[2021-01-13 03:55] sgessa commented on #83
I've come across this issue recently.
I have a similar problem. I would like to exchange a refresh token for an access token (probably the old access token is expired already) and I was expecting the new access token to be stored in the database but nothing happens. I realized there is not an `on_exchange` callback. What I'm missing here?

[2021-01-13 04:11] sgessa commented on #83
Ok I found a solution, in `MyApp.Guardian` I put:

[2021-01-13 04:12] sgessa commented on #83
Ok I found a solution, in `MyApp.Guardian` I put:

[code]

[2021-01-24 23:50] alexfilatov opened #119 "Guardian DB Redis Repo"
hey there! :)

First of all thanks a lot for `guardian_db`, saved me a lot of time!

I created a module that stores Guardian tokens in Redis, do you think this is worth a PR to guardian_db?

https://github.com/alexfilatov/guardian_db_redis

This is first version, please let me know what you think.

[2021-01-24 23:53] alexfilatov commented on #111
really nice idea with GenServer, I did this but with Redis, maybe this will help someone https://github.com/alexfilatov/guardian_db_redis (also maybe make this as a PR https://github.com/ueberauth/guardian_db/issues/119)

[2021-03-15 14:44] anasilva65 commented on #29
did you manage to solve? give me the resolution please

[2021-03-17 12:22] Hanspagh commented on #29
@anasilva65 Did you see the docs added in #44

[2021-03-29 00:12] aleDsz commented on #119
I think it's a good idea, and we can improve that using an `Adapter` for token storage, using the same `@behaviour` to allow users to change to their preference, and ur repo can become and `plugin adapter` for Redis.

What u think?

[2021-03-29 00:50] yordis commented on #119
@alexfilatov welcome to add some adapter pattern around GuardianDB, make sure to tag me on it ... I keep losing notifications, I will help you to review and merge it

[2021-03-30 03:21] aleDsz commented on #119
I was thinking about this API

[code]

@alexfilatov do you think it's enough to bring Redis, or any storage adapter to `Guardian.DB`?

[2021-03-31 08:50] alexfilatov commented on #119
love it @aleDsz, will work on PR asap, will let you guy know when ready!

[2021-04-04 16:24] aleDsz commented on #111
I was thinking about the issue #119 and concepting the idea of an Adapter for the DB layer. As we can improve the access to database, with good indexes to reduce the reading strategy, we can make the GenServer became real and load all tokens at startup.

[2021-04-04 16:25] aleDsz commented on #119
@alexfilatov i can help if u want to. I was thinking about to ask your help to make a good integration using this behaviour to test the idea and checking if it would work with Ecto and Redix

[2021-04-04 17:58] #118 closed

[2021-04-14 14:21] doomspork commented on #119
This is a great idea! @alexfilatov if you want to open a draft PR to solicit feedback feel free :+1:

[2021-05-09 07:13] alexfilatov commented on #119
Hello there again @doomspork and @aleDsz!

Sorry for the long reply, got back to this one eventually.

I got a slightly different idea.
I started working on the PR for `guardian_db` but one thing was very annoying for me - why would guardian_db have some new dependencies (on `redix` and `jason`) just because of a new Redis repo? What if the user will not use Redis as storage for tokens but still h

[2021-05-14 09:52] alexfilatov commented on #119
this one solved by adding an adapter here https://github.com/ueberauth/guardian_db/pull/126 and implementing a Redis plugin https://github.com/alexfilatov/guardian_redis

[2021-05-14 09:52] #119 closed

[2021-05-14 16:21] yordis commented on #119
@alexfilatov I forgot about something, I only see `{:ok, ....}` success responses in the callback, is that correct? or do we need some error tuple response as well?

[2021-05-14 16:51] alexfilatov commented on #119
this is a great catch @yordis! yes, we need `{:error, ... }` as well, e.g.
[code]

Will prepare new PR.

[2021-05-15 11:25] alexfilatov commented on #119
Hey @yordis, made a PR, could you please have a look? ^^

[2021-05-16 16:18] doomspork commented on #111
With the new Adapter pattern @alexfilatov put together this is now possible with a custom adapter that wraps a cache around ecto. After we work through #129 I'll take a look at tossing together a ETS Adapter and a CachedEcto adapter.

[2021-05-16 18:40] doomspork commented on #111
This is based on #129 & #131, an adapter that merges both together for a DB-cache combo.

**This is untested**

[code]

[2021-05-18 16:52] sbinlondon opened #132 "Ecto.StaleEntryError when using Guardian.DB.on_revoke"
In looking up this issue I found https://github.com/ueberauth/guardian_db/issues/102 and saw that it had been fixed, closed, and merged. But then the code that solved this was refactored in https://github.com/ueberauth/guardian_db/commit/781d0760170f69a2ee550d4371f6924d46bf74d9, removed, and never actually released.

We get tons of `Ecto.StaleEntryErrors` when using `Guardian.DB.on_revoke`. Was th

[2021-05-18 17:00] yordis commented on #132
It seems to be a mistake. We are in the middle of doing a lot of refactoring, here is the file with all the Ecto integration: https://github.com/ueberauth/guardian_db/blob/master/lib/guardian/db/adapter/ecto.ex

[2021-05-19 09:27] sbinlondon commented on #132
Good to know, thank you! 😊  Do you think it will be in the next release, whenever that is?

[2021-05-19 13:10] yordis commented on #132
I am not sure, also we need to add back the line of code that fixes your issue if I am not mistaken.

[2021-05-21 10:45] alexfilatov commented on #132
@sbinlondon haven't tested, but I think if you make `guardian_db` deps from this repo `master` branch and put in the `Guardian.DB` config this line `stale_error_field: :stale_token` this should fix your issue.
(assuming we passing config to the actual `delete()` function here https://github.com/ueberauth/guardian_db/blob/master/lib/guardian/db/token.ex#L74)

[2021-05-21 18:17] yordis commented on #132
@alexfilatov you are right! 🚀

[2021-11-03 18:14] mayoms opened #134 "cut a new release?"
👋

I was attempting to implement the adapter behaviour described in your docs, and was warned that such a behaviour and spec did not exist.

Looks like the last release was in 2020. Given that folks seem to be using the adapter spec, are there any plans to cut a release?

[2021-11-08 18:35] yordis commented on #132
Hey folks, I got lost in terms of what suppose to be the follow-up work here 😄 , do you remember?

[2021-11-08 18:39] yordis commented on #134
We have a PR related to the Storage, and an open related to the refactored done #131

I will suggest subscribing to Release notifications, and/or contributing to the reminding work.

[2021-11-08 18:39] #134 closed

[2022-03-16 02:21] cultofmetatron commented on #67
but uh.. whats the solution??!!

[2022-04-13 13:59] dershodan commented on #67
This error happened for me when i returned a non-string type in the implementation module's `subject_for_token` return tuple `{:ok, 10}`  for example.

The underlying error was for me:
[code]

I have to agree with @x-ji there - the error `:token_storage_failure` is not clear at all. It'd be probably better to at least serialize the `changeset.errors` and send that to the `Guardian.Plug.ErrorHandle

[2022-04-13 16:05] yordis commented on #67
Feel free to open some PR improving the feature btw. Somebody tried to do it at some point but https://github.com/ueberauth/guardian_db/pull/120 didn't make it thru.

Feel free to pick up the work and address the problem with breaking changes and Guardian.